@model IEnumerable<WebMVC.Models.Programme>

@{
ViewData["Title"] = "Programme Index";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Thêm mới</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Contact</th>
        <th>Is Active</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Description</td>
        <td>@item.ContactId</td>
        <td>@(item.IsActive ? "Yes" : "No")</td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
        </td>
    </tr>
    }
    </tbody>
</table>
