@model DataAccessLayer.Entities.PagedResult<DataAccessLayer.Entities.AddressSearchResult>

@if (Model != null && Model.Items.Any())
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="table-light">
            <tr>
                <th></th>
                <th>Address</th>
                <th>Post code</th>
                <th>Town</th>
                <th>County</th>
                <th>Country</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td><input type="radio" class="form-check-input" name="selectedAddress" data-address="@item.Address" data-post-code="@item.PostCode" data-town="@item.Town" data-county="@item.County" data-country="@item.CountryName" /></td>
                    <td>@item.Address</td>
                    <td>@item.PostCode</td>
                    <td>@item.Town</td>
                    <td>@item.County</td>
                    <td>@item.CountryName</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation">
        @if (Model.TotalPages > 1)
        {
            <ul class="pagination justify-content-center">
                @if (Model.PageNumber > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" onclick="loadPage(@(Model.PageNumber - 1))">Previous</a>
                    </li>
                }
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" href="javascript:void(0)" onclick="loadPage(@i)">@i</a>
                    </li>
                }
                @if (Model.PageNumber < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" onclick="loadPage(@(Model.PageNumber + 1))">Next</a>
                    </li>
                }
            </ul>
        }
    </nav>
}
else
{
    <div class="alert alert-info" role="alert">
        No results found.
    </div>
}