@model IEnumerable<GovernmentOfficeRegion>

@{
ViewBag.Title = "Government Office Region List";
<link rel="stylesheet" href="~/css/GovernmentOfficeRegionstyle.css" />
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewBag.Title</title>
</head>

<body>
<h1>Government Office Regions</h1>

<div class="filters">
    <a href="@Url.Action("Index", new {filter = "All", includeInactive = ViewBag.IncludeInactive, pageNumber = 1 })">All</a> |
    <a href="@Url.Action("Index", new {filter = "0-9", includeInactive = ViewBag.IncludeInactive, pageNumber = 1 })">0-9</a> |
    <a href="@Url.Action("Index", new {filter = "A-E", includeInactive = ViewBag.IncludeInactive, pageNumber = 1 })">A B C D E</a> |
    <a href="@Url.Action("Index", new {filter = "F-J", includeInactive = ViewBag.IncludeInactive, pageNumber = 1 })">F G H I J</a> |
    <a href="@Url.Action("Index", new {filter = "K-N", includeInactive = ViewBag.IncludeInactive, pageNumber = 1 })">K L M N</a> |
    <a href="@Url.Action("Index", new {filter = "O-R", includeInactive = ViewBag.IncludeInactive, pageNumber = 1 })">O P Q R</a> |
    <a href="@Url.Action("Index", new {filter = "S-V", includeInactive = ViewBag.IncludeInactive, pageNumber = 1 })">S T U V</a> |
    <a href="@Url.Action("Index", new {filter = "W-Z", includeInactive = ViewBag.IncludeInactive, pageNumber = 1 })">W X Y Z</a>
    <input type="checkbox" id="includeInactive" name="includeInactive" @(ViewBag.IncludeInactive ? "checked" : "") onchange="window.location.href='@Url.Action("Index", new { filter = ViewBag.Filter, includeInactive = !ViewBag.IncludeInactive, pageNumber = ViewBag.CurrentPage, pageRecord = ViewBag.PageRecords })'" /> Include In-active
</div>

<table>
    <thead>
    <tr>
        <th><a href="@Url.Action("Index", new { filter = ViewBag.Filter, includeInactive = ViewBag.IncludeInactive, pageNumber = ViewBag.CurrentPage, pageRecord = ViewBag.PageRecords, sortOrder = ViewBag.SortOrder == "name_asc" ? "name_desc" : "name_asc" })">Government Office Region Name</a></th>
        <th><a href="@Url.Action("Index", new { filter = ViewBag.Filter, includeInactive = ViewBag.IncludeInactive, pageNumber = ViewBag.CurrentPage, pageRecord = ViewBag.PageRecords, sortOrder = ViewBag.SortOrder == "description_asc" ? "description_desc" : "description_asc" })">Description</a></th>
        <th><a href="@Url.Action("Index", new { filter = ViewBag.Filter, includeInactive = ViewBag.IncludeInactive, pageNumber = ViewBag.CurrentPage, pageRecord = ViewBag.PageRecords, sortOrder = ViewBag.SortOrder == "county_asc" ? "county_desc" : "county_asc" })">County</a></th>
        <th><a href="@Url.Action("Index", new { filter = ViewBag.Filter, includeInactive = ViewBag.IncludeInactive, pageNumber = ViewBag.CurrentPage, pageRecord = ViewBag.PageRecords, sortOrder = ViewBag.SortOrder == "isActive_asc" ? "isActive_desc" : "isActive_asc" })">IsActive</a></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var gov in Model)
    {
    <tr>
        <td>@Html.ActionLink(gov.GovernmentOfficeRegionName, "Details", new {id = gov.GovernmentOfficeRegionId})</td>
        <td>@gov.Description</td>
        <td>@gov.County?.CountyName</td>
        <td>@gov.IsActive</td>
    </tr>
    }
    </tbody>
</table>

<div class="pagination">
    @if (ViewBag.CurrentPage > 1)
    {
    <a href="@Url.Action("Index", new {fiter = ViewBag.Filter, includeInactive = ViewBag.IncludeInactive, sortOrder = ViewBag.SortOrder, pageNumber = ViewBag.CurrentPage - 1})"> Previous </a>
    }
    <span>@ViewBag.CurrentPage of @ViewBag.TotalPages</span>
    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
    <a href="@Url.Action("Index", new {fiter = ViewBag.Filter, includeInactive = ViewBag.IncludeInactive, sortOrder = ViewBag.SortOrder, pageNumber = ViewBag.CurrentPage + 1})"> Next </a>
    }
</div>

</body>

</html>